/* <syntaxhighlight lang="css"> */

/* Support for Template:IPA, Template:Unicode and Template:Polytonic. */

.IPA {
    font-family: "Gentium Plus", Gentium, GentiumAlt, "Charis SIL", "Doulos SIL",
                 "DejaVu Sans", Code2000, "TITUS Cyberbit Basic",
                 "Arial Unicode MS", "Lucida Sans Unicode",
                 "Chrysanthi Unicode";
}
.Unicode {
    font-family: "Arial Unicode MS", "Microsoft Sans Serif", "Free Sans",
                 "Gentium Plus", "Gentium Basic", "Gentium", "GentiumAlt", "DejaVu Sans",
                 "DejaVu Serif", "Free Serif", "TITUS Cyberbit Basic",
                 "Bitstream Cyberbit", "Bitstream CyberBase", "Doulos SIL",
                 "Code2000", "Code2001";
    font-size-adjust: 0.54;
}
.polytonic {
    font-family: "Athena Unicode", "Gentium Plus", Gentium, "Palatino Linotype",
                 "Arial Unicode MS", "Lucida Sans Unicode",
                 "Lucida Grande", Code2000; 
}

/* </syntaxhighlight> */